market-pipeline/code/python_files/n8n_dropbox_workflow.json
{
  "id": "dropboxbackup001",
  "name": "Dropbox Market Data — Backup & Restore",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "a1000000-0000-4000-8000-000000000001",
      "name": "Daily 09:00 (catch-up)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -460,
        -160
      ],
      "notes": "Safety net AFTER the 00:30 pipeline: cloud_backup.sh is idempotent (rclone sync moves only changed files), so if the pipeline ran, this is a no-op costing seconds. If the Mac slept through the wake window — the recurring failure mode — this is the run that actually happens."
    },
    {
      "parameters": {
        "command": "/Users/umashankar/scripts/cloud_backup.sh"
      },
      "id": "a1000000-0000-4000-8000-000000000002",
      "name": "Ingress: cloud_backup.sh → Dropbox",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "onError": "continueErrorOutput",
      "position": [
        -200,
        -160
      ],
      "notes": "Syncs market_cache, bhavcopy_cache, cache_seed, gmd cache_seed and ~/data (duckdb) to dropbox:market-data-archive/current with dated history/ versioning; weekly Monday pg_dump. Exits non-zero on any tree failure, which fails this execution loudly. Detail log: ~/market-pipeline/code/python_files/cloud_backup.log"
    },
    {
      "parameters": {
        "command": "/Users/umashankar/scripts/cloud_backup_verify.sh"
      },
      "id": "a1000000-0000-4000-8000-000000000003",
      "name": "GATE: mirror verified?",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "onError": "continueErrorOutput",
      "position": [
        60,
        -160
      ],
      "notes": "INDEPENDENT per-tree check: rclone size of each current/<tree> vs local du with the same excludes (10% tolerance for legitimate churn between backup and verify), plus pg-dump recency (<8d). Replaces a whole-mirror byte count, which a half-synced tree passes. Gates measure the world, not the process — same principle as marketpipeline001's ingest gate."
    },
    {
      "parameters": {
        "command": "=cd /Users/umashankar/market-pipeline/code/python_files && ./.venv/bin/python3 send_alert.py \"n8n dropbox backup: {{ $json.error || $json.stdout || 'backup or verification failed' }}\""
      },
      "id": "a1000000-0000-4000-8000-000000000008",
      "name": "ALERT",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "onError": "continueRegularOutput",
      "position": [
        60,
        20
      ],
      "notes": "Reuses send_alert.py so n8n alerts and shell-run alerts look identical in the inbox. Without this, a failed backup only dies quietly in the executions list — the exact silent-staleness failure mode the whole 2026-07-22 repair cycle was about."
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dropbox-restore",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000004",
      "name": "Webhook: restore/list",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -460,
        160
      ],
      "webhookId": "dropbox-restore",
      "notes": "POST http://localhost:5678/webhook/dropbox-restore\nBody: {\"action\":\"list\"} | {\"action\":\"history\"} | {\"action\":\"restore\",\"tree\":\"bhavcopy_cache\",\"dest\":\"/Users/umashankar/restore/bhavcopy_cache\"}\n(dest optional — defaults to ~/restore/<tree>)"
    },
    {
      "parameters": {
        "jsCode": "// Withdrawal command builder. Everything is allowlisted: trees must be one of\n// the five backed-up trees, dest must be a plain absolute path with no\n// shell metacharacters — the webhook body never reaches a shell unvalidated.\nconst body = $json.body || {};\nconst action = String(body.action || 'list').toLowerCase();\nconst RCLONE = '/opt/homebrew/bin/rclone';\nconst REMOTE = 'dropbox:market-data-archive';\nconst TREES = ['market_cache', 'bhavcopy_cache', 'cache_seed', 'gmd_cache_seed', 'warehouse_duckdb'];\n\nif (action === 'list') {\n  return [{ json: { action, cmd: `${RCLONE} lsd ${REMOTE}/current --timeout 60s && ${RCLONE} size ${REMOTE}/current --json --timeout 60s` } }];\n}\nif (action === 'history') {\n  // dated version folders — where changed/deleted files were moved, never destroyed\n  return [{ json: { action, cmd: `${RCLONE} lsd ${REMOTE}/history --timeout 60s` } }];\n}\nif (action === 'restore') {\n  const tree = body.tree;\n  if (!TREES.includes(tree)) {\n    throw new Error(`tree must be one of: ${TREES.join(', ')}`);\n  }\n  const dest = body.dest || `/Users/umashankar/restore/${tree}`;\n  if (!/^\\/[A-Za-z0-9_\\/.\\-]+$/.test(dest) || dest.includes('..')) {\n    throw new Error('dest must be a plain absolute path (A-Za-z0-9_/.- only, no ..)');\n  }\n  const src = body.date\n    ? `${REMOTE}/history/${body.date}/${tree}`   // pull a dated prior version\n    : `${REMOTE}/current/${tree}`;\n  if (body.date && !/^\\d{4}-\\d{2}-\\d{2}$/.test(body.date)) {\n    throw new Error('date must be YYYY-MM-DD');\n  }\n  return [{ json: { action, tree, dest, cmd: `mkdir -p '${dest}' && ${RCLONE} copy '${src}' '${dest}' --transfers 4 --retries 5 --low-level-retries 20 --stats-one-line --timeout 10m` } }];\n}\nthrow new Error('action must be list | history | restore');"
      },
      "id": "a1000000-0000-4000-8000-000000000005",
      "name": "Validate + build rclone cmd",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        160
      ]
    },
    {
      "parameters": {
        "command": "={{ $json.cmd }}"
      },
      "id": "a1000000-0000-4000-8000-000000000006",
      "name": "Withdrawal: run rclone",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        60,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000007",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        320,
        160
      ]
    }
  ],
  "connections": {
    "Daily 09:00 (catch-up)": {
      "main": [
        [
          {
            "node": "Ingress: cloud_backup.sh → Dropbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingress: cloud_backup.sh → Dropbox": {
      "main": [
        [
          {
            "node": "GATE: mirror verified?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ALERT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GATE: mirror verified?": {
      "main": [
        [],
        [
          {
            "node": "ALERT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: restore/list": {
      "main": [
        [
          {
            "node": "Validate + build rclone cmd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate + build rclone cmd": {
      "main": [
        [
          {
            "node": "Withdrawal: run rclone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Withdrawal: run rclone": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "executionTimeout": 10800
  },
  "active": true
}